* {
    padding: 0;
    margin: 0;
    font-family: 'Sawarabi Gothic', sans-serif;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #52d681;
    filter: alpha(opacity=70);
    -moz-opacity: 0.7;
    -khtml-opacity: 0.7;
    opacity: 0.7;
    z-index: 100;
    display: none;
}

.cnt223 a {
    text-decoration: none;
}

.popup {
    width: 100%;
    margin: 0 auto;
    display: none;
    position: fixed;
    z-index: 101;
}

.cnt223 {
    min-width: 370px;
    width: 370px;
    min-height: 370px;
    margin: 100px auto;
    background: #f3f3f3;
    position: relative;
    z-index: 103;
    padding: 10px 25px;
    border-radius: 200px;
    /* box-shadow: 0 2px 5px #000; */
    display: flex;
    flex-direction: column;
}

.cnt223 p {
    clear: both;
    color: #555555;
    /* text-align: justify; */
    font-size: 1.2em;
}

.cnt223 h1 {
    text-align: center;
    color: black;
    font-size: 2.3em;
}

.cnt223 p a {
    color: #d91900;
    font-weight: bold;
    text-decoration-line: underline;
}

.cnt223 .x {
    float: right;
    height: 35px;
    left: 22px;
    position: relative;
    top: -25px;
    width: 34px;
}

.cnt223 .x:hover {
    cursor: pointer;
}

.cnt223>a {
    margin: 0 auto;
    padding-top: 30px;
}

.boshu {
    display: flex;
    flex-direction: row;
}

.boshu {
    margin-top: 70px;
}

.boshu img {
    height: 50px;
    margin: 0 auto;
}

.popup-content img {
    height: 20px;
    width: auto;
}

#thumbnail {
    display: none;
}

@media screen and (max-width: 370px) {
    .cnt223 {
        min-width: 340px;
        width: 340px;
        min-height: 340px;
    }
    .cnt223 h1 {
        font-size: 2em;
    }
    .cnt223 p {
        font-size: 1em;
    }
}

/* go back to top botton */

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 15px;
    border: none;
    outline: none;
    background-color: rgb(255, 93, 110, 0.88);
    color: white;
    cursor: pointer;
    padding: 18px;
    border-radius: 90px;
    box-shadow: 0px 0px 8px 2px rgb(6, 24, 15, 0.3);
}

#myBtn:hover {
    background-color: rgb(6, 24, 15, 0.7);
}

.arrow {
    width: 20px;
    filter: brightness(0) invert(1);
    padding-right: 5px;
}

/* LP-laptop */

.LP-laptop {
    color: white;
}

nav {
    width: 100%;
    display: flex;
    height: 70px;
    margin-bottom: 10em;
}

nav a {
    padding: 25px;
}

nav>img {
    margin: auto 0;
}

.menu-container {
    display: flex;
    align-content: center;
    padding-right: 50px;
}

.menu-container a {
    color: white;
}

.menu-container a:hover {
    color: lightgray;
    text-decoration: underline;
}

.nav-laptop img {
    height: 50px;
    width: auto;
    margin-right: auto;
    padding-left: 20px;
}

.LP-laptop {
    background: url(./img/futaba-lp.jpg) no-repeat;
    background-size: auto 100vh;
    height: 95vh;
    background-position: center;
    display: flex;
    flex-direction: column;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main p {
    font-size: 1.2em;
}

.btn-container {
    margin: 0 auto;
}

.btn-container1 {
    margin: 0 auto;
}

h1 {
    padding: 10px;
    font-size: 3.5em;
}

h2 {
    font-size: 1.3em;
    padding-bottom: 30px;
}

.call, .member1, .member2 {
    display: inline-block;
    padding: 1.3em 2.5em;
    text-decoration: none;
    background: rgb(255, 93, 110, 0.88);
    /*Button Color*/
    color: #FFF;
    border: none;
    border-radius: 45px;
    cursor: pointer;
    outline: none;
}

.member1, .member2 {
    background: rgb(211, 191, 74);
    margin-top: 5%;
}

.call:hover {
    background-color: transparent;
    box-shadow: 5px 5px 30px 5px rgb(254, 255, 234, 0.3);
}

.member1:hover {
    background-color: transparent;
    box-shadow: 5px 5px 30px 5px rgb(255, 241, 124, 0.6);
}

.member2:hover {
    background-color: transparent;
    box-shadow: 5px 5px 30px 5px rgb(255, 241, 124, 0.6);
}

.call:active {
    background: rgb(255, 93, 110, 0.88);
}

.member1:active {
    background: rgb(255, 93, 110, 0.88);
}

.member2:active {
    background: rgb(255, 93, 110, 0.88);
}

/* LP-mobile */

.LP-mobile {
    background: url(./img/futaba-lp.jpg) no-repeat;
    background-size: auto 100vh;
    height: 90vh;
    background-position: center;
    display: flex;
    flex-direction: column;
}

.LP-mobile>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 200px;
    color: white;
}

:root {
    --primary-color: rgba(125, 189, 233, 0.95);
    --overlay-color: rgba(21, 52, 115, 0.85);
    --menu-speed: 0.75s;
}

.menu {
    display: flex;
    flex-direction: column;
}

.menu a {
    padding: 15px 0;
    position: relative;
    color: white;
    text-decoration: none;
}

.menu a:hover {
    color: gray;
}

.menu a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.menu a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.menu div {
    padding-top: 40px;
}

.menu>div>div {
    display: flex;
    flex-direction: column;
}

.menu img {
    height: 40px;
    width: auto;
    padding: 0 10px;
}

.menu-wrap {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.menu-wrap .toggler {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0;
}

.menu-wrap .hamburger {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 70px;
    height: 70px;
    padding: 1rem;
    background: rgba(88, 88, 88, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Hamburger Line */

.menu-wrap .hamburger>div {
    position: relative;
    flex: none;
    width: 100%;
    height: 2px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
}

/* Hamburger Lines - Top & Bottom */

.menu-wrap .hamburger>div::before, .menu-wrap .hamburger>div::after {
    content: '';
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 2px;
    background: inherit;
}

/* Moves Line Down */

.menu-wrap .hamburger>div::after {
    top: 10px;
}

/* Toggler Animation */

.menu-wrap .toggler:checked+.hamburger>div {
    transform: rotate(135deg);
}

/* Turns Lines Into X */

.menu-wrap .toggler:checked+.hamburger>div:before, .menu-wrap .toggler:checked+.hamburger>div:after {
    top: 0;
    transform: rotate(90deg);
}

/* Rotate On Hover When Checked */

.menu-wrap .toggler:checked:hover+.hamburger>div {
    transform: rotate(225deg);
}

/* Show Menu */

.menu-wrap .toggler:checked~.menu {
    visibility: visible;
}

.menu-wrap .toggler:checked~.menu>div {
    transform: scale(1);
    transition-duration: var(--menu-speed);
}

.menu-wrap .toggler:checked~.menu>div>div {
    opacity: 1;
    transition: opacity 0.4s ease 0.4s;
}

.menu-wrap .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-wrap .menu>div {
    background: rgba(47, 184, 114, 0.9);
    /* border-radius: 50%; */
    width: 200vw;
    height: 200vw;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    transform: scale(1);
    transition: all 0.4s ease;
}

.menu-wrap .menu>div>div {
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0;
    transition: opacity 0.4s ease;
}

.menu-wrap .menu>div>div>a {
    list-style-type: none;
    color: #fff;
    font-size: 1.5rem;
    padding: 1rem;
}

.menu-wrap .menu>div>div>a {
    color: inherit;
    text-decoration: none;
    transition: color 0.4s ease;
}

@media screen and (min-width: 860px) {
    .LP-mobile {
        display: none;
    }
    .menu-wrap {
        display: none;
    }
}

@media (max-width: 860px) {
    .LP-laptop {
        display: none;
    }
    .main {
        padding-top: 100px;
    }
    h1 {
        padding: 10px;
        font-size: 2.5em;
    }
    h2 {
        font-size: 1em;
    }
    .main p {
        font-size: 0.9em;
    }
}

/* about */

.title img {
    width: 60px;
    margin: 0 auto;
}

.title {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #2EB872;
    margin-top: 80px;
}

.title p {
    text-align: center;
    font-size: 2em;
    color: #FFF;
}

.number123 {
    display: flex;
    flex-direction: row;
}

.no1 {
    background: rgb(46, 184, 114, 0.8);
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 6px 10px 0px rgba(115, 114, 115, 0.5);
}

.figure1 {
    display: inline-block;
    font-size: 300px;
    line-height: 0.7em;
    color: rgb(255, 248, 181, 0.2)
}

.comment>div {
    color: white;
    margin: auto;
    font-size: 2em;
    text-align: center;
}

.comment>p {
    font-size: 1em;
    color: white;
    text-align: center;
    padding: 20px;
}

.no2 {
    background: rgb(46, 184, 114, 0.6);
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 6px 10px 0px rgba(115, 114, 115, 0.5);
}

.figure2 {
    display: inline-block;
    font-size: 300px;
    line-height: 0.7em;
    color: rgb(255, 248, 181, 0.2)
}

.no3 {
    background: rgb(46, 184, 114, 0.7);
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 6px 10px 0px rgba(115, 114, 115, 0.5);
}

.figure3 {
    display: inline-block;
    font-size: 300px;
    line-height: 0.7em;
    color: rgb(255, 248, 181, 0.2)
}

.course {
    font-size: 0.8em;
}

@media only screen and (max-width: 800px) {
    .number123 {
        display: flex;
        flex-direction: column;
        height: auto;
    }
    .number123>div {
        font-size: 0.8em;
    }
    .no1 {
        display: flex;
        flex-direction: row;
        height: 250px;
        box-shadow: 0px 6px 10px 0px rgba(115, 114, 115, 0.5);
    }
    .no2 {
        display: flex;
        flex-direction: row;
        height: 250px;
        box-shadow: 0px 6px 10px 0px rgba(115, 114, 115, 0.5);
    }
    .no3 {
        display: flex;
        flex-direction: row;
        height: 250px;
        box-shadow: 0px 6px 10px 0px rgba(115, 114, 115, 0.5);
    }
    .comment {
        margin: auto;
    }
    .figure1, .figure2, .figure3 {
        font-size: 200px;
    }
    .course {
        font-size: 0.8em;
    }
}

/* schedule */

.schedule {
    /* background: red; */
    display: flex;
    flex-direction: column;
}

.schedule-title {
    color: rgb(46, 184, 114, 1);
    height: 200px;
    display: flex;
    justify-content: center;
}

.schedule-title>p {
    font-size: 2.5em;
    line-height: 200px;
}

.schedule-container {
    display: flex;
    flex-direction: row;
    padding-left: 20px;
    padding-bottom: 30px;
}

.grid-container {
    font-size: 1em;
    display: grid;
    height: 100%;
    width: 70%;
    margin: 0 auto;
    column-gap: 2px;
    row-gap: 4px;
    background: rgba(190, 191, 192, 0.11);
    grid-template-columns: 0.7fr 1fr 0.5fr 0.5fr 1fr 0.5fr 1fr;
    grid-template-rows: 70px 100px 100px 100px 100px 100px 100px;
}

.grid-container div {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.emp {
    grid-area: 1 / 1 / 2 / 2;
    color: transparent;
    background: rgb(46, 184, 114, 0.8);
}

.Mon {
    grid-area: 1 / 2 / 2 / 3;
    background: rgb(46, 184, 114, 0.8);
    color: white;
    font-size: 2em;
}

.MonEmp {
    grid-area: 2 / 2 / 8 / 3;
    background: rgba(190, 191, 192, 0.21);
}

.Tue {
    grid-area: 1 / 3 / 2 / 4;
    background: rgb(46, 184, 114, 0.4);
    color: white;
    font-size: 2em;
}

.TueEmp {
    grid-area: 2 / 3 / 8 / 4;
    background: rgba(190, 191, 192, 0.21);
    /* color: transparent; */
    writing-mode: vertical-rl;
}

.Wed {
    grid-area: 1 / 4 / 2 / 5;
    background: rgb(46, 184, 114, 0.4);
    color: white;
    font-size: 2em;
}

.WedEmp {
    grid-area: 2 / 4 / 8 / 5;
    background: rgba(190, 191, 192, 0.21);
    /* color: transparent; */
    writing-mode: vertical-rl;
}

.Thur {
    grid-area: 1 / 5 / 2 / 6;
    background: rgb(46, 184, 114, 0.8);
    color: white;
    font-size: 2em;
}

.ThurEmp {
    grid-area: 2 / 5 / 8 / 6;
    background: rgba(190, 191, 192, 0.21);
}

.Fri {
    grid-area: 1 / 6 / 2 / 7;
    background: rgb(46, 184, 114, 0.4);
    color: white;
    font-size: 2em;
}

.FriEmp {
    grid-area: 2 / 6 / 8 / 7;
    background: rgba(190, 191, 192, 0.21);
    /* color: transparent; */
    writing-mode: vertical-rl;
}

.Sat {
    grid-area: 1 / 7 / 2 / 8;
    background: rgb(46, 184, 114, 0.8);
    color: white;
    font-size: 2em;
}

.SatEmp {
    grid-area: 2 / 7 / 8 / 8;
    background: rgba(190, 191, 192, 0.21);
}

.time1 {
    grid-area: 2 / 1 / 3 / 2;
    background: rgb(254, 255, 234, 1);
}

.time2 {
    grid-area: 3 / 1 / 4 / 2;
    background: rgb(254, 255, 234, 0.3);
}

.time3 {
    grid-area: 4 / 1 / 5 / 2;
    background: rgb(254, 255, 234, 1);
}

.time4 {
    grid-area: 5 / 1 / 6 / 2;
    background: rgb(254, 255, 234, 0.3);
}

.time5 {
    grid-area: 6 / 1 / 7 / 2;
    background: rgb(254, 255, 234, 1);
}

.time6 {
    grid-area: 7 / 1 / 8 / 2;
    background: rgb(254, 255, 234, 0.3);
}

.class1 {
    grid-area: 2 / 7 / 3 / 8;
    background: rgb(255, 93, 110, 0.88);
    border-radius: 15px;
    color: #FFF;
}

.class2 {
    grid-area: 3 / 7 / 4 / 8;
    background: rgb(255, 93, 110, 0.88);
    border-radius: 15px;
    color: #FFF;
}

.class3 {
    grid-area: 4 / 2 / 5 / 3;
    background: rgb(255, 93, 110, 0.88);
    border-radius: 15px;
    color: #FFF;
}

.class4 {
    grid-area: 5 / 2 / 6 / 3;
    background: rgb(255, 93, 110, 0.88);
    border-radius: 15px;
    color: #FFF;
}

.class5 {
    grid-area: 6 / 2 / 7 / 3;
    background: rgb(255, 93, 110, 0.88);
    border-radius: 15px;
    color: #FFF;
}

.class6 {
    grid-area: 7 / 2 / 8 / 3;
    background: rgb(255, 93, 110, 0.88);
    border-radius: 15px;
    color: #FFF;
}

.class7 {
    grid-area: 4 / 5 / 5 / 6;
    background: rgb(255, 93, 110, 0.88);
    border-radius: 15px;
    color: #FFF;
}

.class8 {
    grid-area: 5 / 5 / 6 / 6;
    background: rgb(255, 93, 110, 0.88);
    border-radius: 15px;
    color: #FFF;
}

.class9 {
    grid-area: 6 / 5 / 7 / 6;
    background: rgb(255, 93, 110, 0.88);
    border-radius: 15px;
    color: #FFF;
}

.class10 {
    grid-area: 7 / 5 / 8 / 6;
    background: rgb(255, 93, 110, 0.88);
    border-radius: 15px;
    color: #FFF;
}

.schedule-detail {
    margin: auto 0;
    width: 60%;
    padding-left: 40px;
}

@media only screen and (max-width: 800px) {
    .schedule-title>p {
        font-size: 2em;
    }
    .schedule-container {
        display: flex;
        flex-direction: column;
        padding-left: 5px;
    }
    .grid-container {
        height: auto;
        width: 95%;
    }
    .schedule-title {
        font-size: 1.2em;
        padding: 50px;
    }
    .schedule-detail {
        display: flex;
        flex-direction: column;
        padding: 100px 20px 100px 20px;
        width: 100%;
    }
}

.price-title {
    height: 200px;
    background: #2EB872;
    display: flex;
    justify-content: center;
}

.price-title>p {
    display: flex;
    margin: auto 0;
    color: white;
    font-size: 2em;
}

.price-detail {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.price-detail>p {
    display: flex;
    margin: 0 auto;
}

@media only screen and (max-width: 500px) {
    .price-title {
        height: 150px;
    }
    .price-title>p {
        font-size: 1.5em;
    }
}

/* canpain detail */

.campaign-title {
    height: 200px;
    background: rgb(255, 93, 110, 1);
    display: flex;
    justify-content: center;
}

.campaign-title>p {
    display: flex;
    margin: auto 0;
    color: white;
    font-size: 2em;
}

.campaign-header {
    height: 90px;
    line-height: 90px;
    color: white;
    font-size: 1.2em;
    align-items: baseline;
    padding-left: 20px;
}

.campaign-container {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    padding: 20px;
    
}

.campaign-content img {
    height: 20px;
}

.campaign-content {
    padding: 0px 20px;
}

.campaingn-box {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    background: grey;
    height: 280px;
    width: 280px;
    margin: 10px auto;
    color: whitesmoke;
    gap: 10px;
    
}
@media only screen and (max-width: 500px) {
    .campaign-title>p {
        font-size: 1.5em;
    }
}
/* .campaign-detail {
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.campaign-detail img {
    height: 30px;
}

.campaign-detail-content {
    display: flex;
    flex-wrap: wrap;
}

.campaign-detail-content p, .campaign-detail-content4 p {
    padding: 0px 30px;
    line-height: 30px;
}

.numberlist {
    background: #52d681;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    font-size: 2em;
    text-align: center;
    color: white;
    margin: 20px;
}

.student {
    display: flex;
    flex-direction: row;
    font-size: 1.8em;
    font-weight: bold;
    color: black;
    padding-bottom: 10px;
}

.student img {
    height: 25px;
}

.campaign-detail-content4 div {
    padding-left: 40px;
}

@media only screen and (max-width: 500px) {
    .campaign-title {
        height: 150px;
    }
    .campaign-detail {
        height: 800px;
    }
    .campaign-title>p {
        font-size: 1.3em;
    }
    .campaign-detail-content>p {
        padding: 0px 20px;
        font-size: 1em;
    }
    .campaign-detail-content>p>p {
        font-size: 2em;
        background: #555555;
    }
    .campaign-detail-content4 div {
        justify-content: center;
        padding-left: 0px;
    }
    .campaign-detail img {
        height: 20px;
    }
    .student img {
        height: 25px;
    }
} */

/* yearlytimeline */

.yearlytimeline {
    padding-bottom: 40px;
}

.yearlytimeline-title {
    background: #2EB872;
    display: flex;
    justify-content: center;
    height: 200px;
}

.yearlytimeline-title>p {
    display: flex;
    margin: auto 0;
    color: white;
    font-size: 2em;
}

/* .yearlytimeline-detail {
    margin: auto 0;
    display: flex;
    justify-content: center;
} */

.yearlytimeline-detail>p {
    display: flex;
    margin: auto 0;
}

@media only screen and (max-width: 500px) {
    .yearlytimeline-title {
        height: 150px;
    }
}

.contents-names {
    display: flex;
    flex-direction: row;
    height: 100px;
}

.contents-names p {
    margin: auto;
    font-size: 1.8em;
}

.bar {
    background: #A4DBB8;
    position: absolute;
    left: 50%;
    width: 5px;
    height: 1500px;
    z-index: -1;
    box-shadow: -1px 6px 14px -4px rgba(115, 114, 115, 1);
}

.tag {
    font-size: 0.7em;
    text-decoration: underline;
    padding-left: 10px;
}

.container-left {
    /* background: yellow; */
    width: 50%;
    display: flex;
    flex-direction: row;
}

.box {
    display: flex;
    flex-direction: row;
    /* background: lightsalmon; */
    margin: 0 auto;
}

.comment-left {
    background: rgb(255, 243, 142, 0.7);
    height: 50px;
    width: 300px;
    position: relative;
    box-shadow: -1px 3px 14px -1px rgba(150, 150, 150, 0.5);
}

.timeline-content {
    text-align: center;
}

.month {
    background: #68C78E;
    width: 60px;
    height: 60px;
    -moz-border-radius: 60px;
    -webkit-border-radius: 60px;
    border-radius: 60px;
    text-align: center;
    vertical-align: middle;
    line-height: 60px;
    color: white;
    margin: 0 auto;
    position: relative;
    box-shadow: -1px 6px 14px -4px rgba(115, 114, 115, 0.5);
    z-index: 1;
    font-size: 1.2em;
}

.triangle-right {
    width: 0;
    height: 0;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-left: 20px solid rgb(255, 243, 142, 0.5);
    margin-right: auto;
    z-index: 1;
}

.timeline-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.container-right {
    /* background: pink; */
    width: 50%;
    margin-left: 50%;
    display: flex;
    flex-direction: row;
    padding-top: -30px;
}

#end {
    padding-top: 10px;
}

.comment-right {
    color: #FFF;
    background: rgba(255, 112, 126, 0.7);
    height: 50px;
    width: 300px;
    position: relative;
    box-shadow: -1px 3px 14px -4px rgba(150, 150, 150, 0.5);
    z-index: -1;
}

.triangle-left {
    width: 0;
    height: 0;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-right: 20px solid rgba(255, 112, 126, 0.7);
    z-index: 1;
}

.timeline-img-container img {
    width: auto;
    position: absolute;
}

.timeline-img-container {
    display: flex;
    width: 100%;
}

.timeline-img-container div {
    position: relative;
    margin: 0 auto;
}

/* spring img */

.setsubun {
    margin-left: 80%;
    height: 90px;
}

.ladybird {
    margin-left: 65%;
    height: 40px;
}

.spring {
    height: 80px;
    margin-left: 70%;
}

.sakura {
    height: 80px;
    margin-left: 18%;
}

.sakura1 {
    height: 50px;
    margin-left: 25%;
}

.koiobori {
    height: 90px;
    margin-left: 80%;
}

.ajisai {
    height: 70px;
    margin-left: 65%;
    z-index: -1;
}

.snail {
    height: 40px;
    margin-left: 71%;
}

/* summer img */

.homework {
    height: 70px;
    margin-left: 65%;
}

.sun-umbrella {
    height: 70px;
    margin-left: 80%;
}

.sun {
    height: 60px;
    margin-left: 20%;
}

.sunflower1 {
    height: 60px;
    margin-left: 16%;
}

.sunflower2 {
    height: 63px;
    margin-left: 20%;
    z-index: 1;
}

.sunflower3 {
    height: 60px;
    margin-left: 24%;
}

.mushiami {
    height: 45px;
    margin-left: 30%;
}

/* autumn img */

.dragonfly {
    height: 80px;
    margin-left: 70%;
}

.susuki {
    height: 80px;
    margin-left: 80%;
}

/* winter img */

.snowman {
    height: 70px;
    margin-left: 70%;
}

.tree {
    height: 70px;
    margin-left: 75%;
}

.snowflake1 {
    height: 28px;
    margin-left: 22%;
}

.snowflake2 {
    height: 40px;
    margin-left: 25%;
}

.snowflake3 {
    height: 20px;
    margin-left: 29%;
}

.hagoita {
    height: 70px;
    margin-left: 28%;
}

.kadomatsu {
    height: 80px;
    margin-left: 20%;
}

.note {
    font-size: 0.8em;
    text-align: center;
}

@media only screen and (min-width: 800px) {
    .sunflower1-m, .sunflower2-m, .sunflower3-m, .mushiami-m, .tag {
        display: none;
    }
}

@media only screen and (max-width: 800px) {
    .bar {
        position: absolute;
        left: 10%;
        height: 1900px;
    }
    .month {
        width: 60px;
        height: 60px;
        -moz-border-radius: 60px;
        -webkit-border-radius: 60px;
        border-radius: 60px;
        text-align: center;
        vertical-align: middle;
        line-height: 60px;
        font-size: 1em;
        position: relative;
    }
    .timeline-img-container {
        width: 20%;
    }
    .contents-names {
        height: 50px;
    }
    .contents-names p {
        display: none;
    }
    .triangle-right {
        display: none;
    }
    .triangle-left-hidden {
        width: 0;
        height: 0;
        border-top: 25px solid transparent;
        border-bottom: 25px solid transparent;
        border-right: 20px solid rgb(255, 243, 142, 0.5);
        z-index: 1;
    }
    .container-right {
        margin-left: 10%;
        padding: 10px 0;
        padding-right: 10px;
    }
    .container-left {
        padding: 5px 0;
        margin-left: 10%;
        padding: 10px 0;
        padding-right: 10px;
    }
    /* spring img */
    .setsubun {
        margin-left: 60%;
        height: 70px;
        z-index: 1;
    }
    .ladybird {
        margin-left: 35%;
        height: 20px;
    }
    .spring {
        height: 60px;
        margin-left: 40%;
        z-index: 1;
    }
    .sakura {
        height: 60px;
        margin-left: 25%;
    }
    .sakura1 {
        height: 30px;
        margin-left: 35%;
    }
    .koiobori {
        height: 50px;
        margin-left: 70%;
    }
    .ajisai {
        height: 50px;
        margin-left: 35%;
        z-index: -1;
    }
    .snail {
        height: 20px;
        margin-left: 50%;
    }
    /* summer img */
    .homework {
        height: 40px;
        margin-left: 25%;
    }
    .sun-umbrella {
        height: 70px;
        margin-left: 65%;
        z-index: 1;
    }
    .sun {
        display: none;
    }
    .sunflower1, .sunflower2, .sunflower3, .mushiami {
        display: none;
    }
    .sunflower1-m {
        height: 46px;
        margin-left: 45%;
    }
    .sunflower2-m {
        height: 50px;
        margin-left: 55%;
        z-index: 1;
    }
    .sunflower3-m {
        height: 46px;
        margin-left: 65%;
    }
    .mushiami-m {
        height: 40px;
        margin-left: 75%;
    }
    /* autumn img */
    .dragonfly {
        height: 70px;
        margin-left: 55%;
        z-index: 1;
    }
    .susuki {
        height: 70px;
        margin-left: 70%;
        z-index: 1;
    }
    /* winter img */
    .snowman {
        height: 60px;
        margin-left: 38%;
    }
    .tree {
        height: 70px;
        margin-left: 55%;
    }
    .snowflake1 {
        height: 18px;
        margin-left: 30%;
    }
    .snowflake2 {
        height: 10px;
        margin-left: 38%;
    }
    .snowflake3 {
        height: 20px;
        margin-left: 49%;
    }
    .hagoita {
        height: 60px;
        margin-left: 54%;
    }
    .kadomatsu {
        height: 80px;
        margin-left: 70%;
    }
}

/* map */

.map {
    height: 100%;
}

.map-title {
    height: 200px;
    background: rgb(46, 184, 114, 0.9);
    display: flex;
    justify-content: center;
}

.map-title>p {
    display: flex;
    margin: auto 0;
    color: white;
    font-size: 2em;
}

.map-detail {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: auto 0;
}

.map-detail>p {
    display: flex;
    padding-left: 30px;
}

.map-container {
    display: flex;
    height: 500px;
    flex-direction: row;
    align-items: center;
}

#maps {
    width: 40%;
    height: 300px;
    background-color: grey;
}

@media only screen and (max-width: 800px) {
    .map-container {
        display: flex;
        flex-direction: column-reverse;
        /* height: 200px; */
        margin-top: 5%;
    }
    #maps {
        width: 80%;
        padding-top: 50px;
    }
    .map {
        height: 100%;
    }
    .map-detail {
        width: 90%;
        padding: 10px;
    }
    .map-title {
        height: 150px;
    }
}

footer {
    background: #2EB872;
    height: 300px;
}

footer img {
    width: 60px;
    padding-top: 30px;
    margin: 0 auto;
}

.footer-title {
    /* height: 30%; */
    background: #2EB872;
    display: flex;
    flex-direction: column;
}

.footer-title>p {
    display: flex;
    margin: auto;
    color: white;
    font-size: 2em;
}

.footer-links {
    margin: auto 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer-links>a {
    display: flex;
    margin: auto 0;
    color: white;
    padding: 20px;
}

.Copyright {
    text-align: center;
    flex-direction: column;
    flex-wrap: wrap;
    color: #FFF;
}

.Copyright a {
    /* text-decoration: none; */
    color: aliceblue;
}

.Copyright>p {
    margin: auto 0;
    color: white;
    display: flex;
    justify-content: center;
    padding-top: 60px;
}

@media only screen and (max-width: 800px) {
    footer {
        background: #2EB872;
        height: 200px;
        font-size: 0.8em;
    }
}